/* components/header.module.css */
.header {
  width: 100%;
  padding: 1rem 2rem;
  padding: 1rem;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2.0rem;
}

.navLinks a {
  text-decoration: none;
  color: #f0f0f0;
  transition: color 0.2s ease;
}

.navLinks a:hover {
  color: #ff00ff;
}
